<div id="TipoPersona" ng-app="TipoPersona" style="height:100%;">
    @RenderPage(Url.Content("~/Views/TipoPersona/Bundle.cshtml"))
    <div ng-view style="height:100%;"></div>
</div>

<script src="~/Scripts/Angular - Modules/TipoPersona/TipoPersonaModule.js"></script>
<script src="~/Scripts/Angular - Modules/TipoPersona/TipoPersonaCtrl.js"></script>
<script src="~/Scripts/Angular - Modules/Services/TipoPersonaService.js"></script>